.back-button{
  margin: 2px;
  width: 9%;
  min-width: 100px;
  background-color: #827717;
  color: #f9fbe7;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 1.7rem;
  border: 3px solid #afb42b;
  border-radius: 10px;
}

.back-button:hover{
  cursor: pointer;
  background-color: #f9fbe7;
  color: #827717;
  border: 3px solid #827717;
}