.session-modal-body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f4c3;
}

.session-modal-header {
  background-color: #827717;
  color: #f0f4c3;

  button {
    color: #f0f4c3;
    background-color: #f0f4c3;
  }
}
