.session-stats {
  margin: 2px;
  padding: 2px;
  width: 300px;
  background-color: #827717;
  color: #f9fbe7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 1.4rem;
  border: 3px solid #afb42b;
  border-radius: 10px;

  .session-highlights {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;

    button {
      cursor: pointer;
      font-size: 1.3rem;
      background-color: #827717;
      border: 3px solid #afb42b;
      color: #f0f4c3;
    }

    button:hover {
      background-color: #f0f4c3;
      border-color: #827717;
      color: #827717;
    }
  }

  .session-times {
    width: 98%;
    flex: 8;
    font-size: 1.1rem;
    overflow-y: auto;

    th,
    td {
      color: #f9fbe7;
    }

    tr:hover {
      cursor: pointer;
    }
  }

  p {
    margin: 8px;
  }
}
