.custom-table {
  text-align: center;
  border: solid 3px #827717;;

  .remove-border {
    border-left: none;
    border-right: none;
  }

  td{
    padding-left: 15px;
    padding-right: 15px;
  }
}
