.homePage-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .home-card-group {
    padding: 10px;
    width: 80%;

    .card-container{
      display: flex;
      padding-top: 8px;
      align-items: center;
      justify-content: center;
      background-color:  #827717;
      color:  #f9fbe7;
      text-align: center;
      height: 270px;
    }

    .card-container:hover{
      cursor: pointer;
    }

    .img-container {
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        padding: 2px;
        width: 50%;
        height: 100px;
        object-fit: cover;
      }
    }
  }
}
