.profile-page-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;

  h2{
    margin: 40px;
  }

  .profile-infos{
    height: auto;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    img{
      width: auto;
      max-width: 100px;
      max-height: 100px;
      border-radius: 50%;
      border: 1px solid #827717;
      object-fit: contain;
      align-self: center;
    }
  }
}
